@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Semibold.otf);
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Hairline.otf);
  font-weight: 200;
}

body {
  font-family: Montserrat;
  background-color: #F0F0F0;
  margin-bottom: 0;
}

.off-canvas-content {
  background-color: #F0F0F0;
}

.top-bar {
  background-color: transparent;

  .menu {
    padding-top: 30px;
    background-color: transparent;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;

    a {
      color: white;
      transition: color 0.3s;

      &:hover {
        color: #E02411;
      }
    }
  }
}

header {
  background: url("../img/websitebackground.png") no-repeat center center fixed;
  background-size: cover;
  text-align: center;

  h1 {
    color: white;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 500;
    margin-top: 50px;
    font-size: 56px;
    letter-spacing: -2px;
  }

  p {
    margin-top: 30px;
    text-transform: uppercase;
    color: white;
    font-size: 36px;
    font-weight: 300;

    strong {
      font-weight: 300;
      color: #E02411;
    }
  }
}

.secondary-h1 {
  margin-top: 25px;
}

.secondary-p {
  margin-top: 15px;
}

#header-image {
  margin-top: 30px;
}

.button {
  margin-top: 5vh;
  margin-bottom: 40px;
  border-radius: 45px;
  border: 2px solid #E02411;
  background-color: transparent;
  color: #E02411;
  text-transform: uppercase;
  font-size: 24px;

  &:hover {
    color: #E02411;
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}

.secondary-button {
  font-size: 20px;
  margin-top: 2.5vh;
}

.mission {
  background-color: #F0F0F0;
  text-align: center;

  p {
    margin-top: 20px;
    color: #4A4A4A;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
  }
}

.mission-row {
  width: 85%;
}

hr {
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: #F0F0F0;
  width: 65%;
}

h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 300;
  color: #4A4A4A;
  padding-top: 40px;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.crew-row {
  margin-top: 30px;

  &:last-child {
    margin-bottom: 30px;
  }
}

.footer-row {
  width: 85%;
}

footer {
  background-color: #1B1E25;
  height: 80px;
  padding-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: 300;

  p {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    li {
      display: inline;
      padding-left: 20px;
    }

    a {
      color: white;

      &:hover {
        color: #E02411;
      }
    }
  }
}

.info-row {
  margin-bottom: 30px;
}

.valign-middle {
  display:table;
  margin-top: 30px;
  margin-bottom: 50px;
}

.valign-middle .columns {
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;
  padding-right: 40px;

  .button {
    font-size: 20px;
  }
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}

.pointer-mouse {
  cursor: pointer;
}

.strong-info {
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  footer {
    ul {
      font-size: 14px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 757px) {
  footer {
    ul {
      font-size: 12px;
    }

    p {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 640px) {
  .hamburger-menu {
    display: none;
  }

  .teams-small-info {
    display: none;
  }
}

@media screen and (max-width: 640px) {

  .off-canvas-wrapper {
    background-color: #1B1E25;
  }

  #offCanvas {
    background-color: #1B1E25;

    li {
      list-style: none;
      margin-top: 30px;
    }

    a {
      color: white;
      text-transform: uppercase;
      font-size: 18px;
    }
  }

  .menu {
    display: none;
  }

  .hamburger-menu {
    float: left;
    padding: 10px 30px;
    width: 90px;
    background-color: transparent;
  }

  #header-image {
    margin-top: 25px;
    width: 90%;
  }

  #transmission-title {
    font-size: 35px;
    margin-top: 20px;
  }

  #counters {
    font-size: 25px;
    margin-top: 20px;
  }

  .button {
      font-size: 17px;
  }

  .section-header {
    font-size: 30px;
  }

  #crew-header {
    padding-top: 0;
  }

  .mission {

    .mission-row {
      width: 85%;
    }

    p {
      font-size: 16px;
    }
  }

  .rule {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    margin-top: 20px;
  }

  .row {
    margin-top: 0;
  }

  footer {
    text-align: center;
    height: 40px;
    padding-top: 10px;

    ul {
      display: none;
    }

    .float-override-small {
      float: none !important;
      font-size: 14px;
    }
  }

  .valign-middle {
    display: none;
  }
}

.admin-body {
  width: 100%;
  height: 100%;
  background-image: url("../img/loginback.jpeg");
  background-size: cover;
  position: relative;
  font-weight: 300;
}

.admin-body:after {
  position: absolute;
  display: block;
  content: " ";
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.row-center {
  position: relative;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  margin: 0;

  .admin-vector {
    width: 60%;
    height: 60%;
  }

  input[type='text'], input[type="password"] {
    margin-top: 40px;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    opacity: 0.7;
    box-shadow: none;

    &::placeholder {
      color: white;
    }
  }

  input[type="password"] {
    margin-top: 20px;
  }

  .login-button {
    text-transform: none;
    border: none;
    color: white;
    opacity: 0.7;
    font-size: 18px;
  }
}

.main-admin-body {
  background-color: #EDEDED;
}

.admin-left-nav {
  width: 250px;
  height: 100%;
  background-color: #515058;
  position: fixed;

  ul {
    margin-left: 0;
    margin-top: 40px;
    color: white;
    font-weight: 300;
    font-size: 16px;

    text-align: center;
    li {
      list-style: none;
      margin: 30px 20px 0 20px;
      padding: 10px 0;
    }
  }

  .admin-nav-active {
    background-color: #36353B;
    border-radius: 10px;
  }
}

.admin-left-logo-holder {
  background-color: #C7554F;
  padding: 20px;
  padding-bottom: 10px;
  color: white;

  h6 {
    margin-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 500;
  }

  p {
    font-size: 24px;
    letter-spacing: -1px;
  }
}

.admin-main-body {
  margin-left: 250px;

  .row {
    max-width: 90%;
  }

  h1 {
    margin-top: 50px;
    font-size: 48px;
  }

  h4 {
    font-size: 20px;
  }

  .admin-table-row {
    margin-top: 5%;

    table {
      width: 100%;


      thead {
        background-color: #36353B;
        text-align: center;
        font-size: 14px;
        color: white;

        th {
          text-align: center;
          font-weight: 400;
          border-right: 1px solid white;

          &:first-child {
            border-top-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-right: none;
          }
        }
      }

      tbody {
        background-color: #D8D8D8;
        font-size: 14px;

        td {
          text-align: center;
          font-weight: 300;
          border-right: 1px solid white;

          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
